head
  link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet')
  link(href='/css/tablestyle.css' rel='stylesheet')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
  script(src='//code.jquery.com/jquery-1.11.1.min.js')
.container
  .row
    .col-md-12
      .alert.alert-info
        | Welcome #{username}   
      div(style='float: right;')
        a(href='/logout')
          button.form-control.btn-danger Logout
      .alert.alert-success(style='display:none;')
        span.glyphicon.glyphicon-ok
        |  Drag table row and cange Order
      h4  Admin Data:    
      table.table
        thead
          tr.success
            th
              | Username
            th
              | Email
            th
              | Password                         
        tbody   
        each user in users 
            tr.active  
              td=user.username
                | 
              td=user.email
                | 
              td=user.password
                | 
      h4  Students Data:    
      table.table
        thead
          tr.success
            th
              | Firstname
            th
              | Lastname
            th
              | Gender
            th
              | Age
            th
              | Class
            th
              | Mark    
            th
              | icon                           
        tbody 
        each student in students 
          if student.mark < 10 
            tr.danger  
              td=student.firstname
                | 
              td=student.lastname
                | 
              td=student.gender
                | 
              td=student.age
                | 
              td=student.class
                | 
              td=student.mark
                |
              if student.gender=='male'  
                td
                  img(src='images/boy.png' width='50px' height='50px')  
              else
                td
                  img(src='images/girl.png' width='50px' height='50px')                                 
          else   
            tr.active  
              td=student.firstname
                | 
              td=student.lastname
                | 
              td=student.gender
                | 
              td=student.age
                | 
              td=student.class
                | 
              td=student.mark
                | 
              if student.gender=='male'    
                td
                  img(src='images/boy.png' width='50px' height='50px')     
              else
                td
                  img(src='images/girl.png' width='50px' height='50px')        